/* FONTS */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* VARIABLES */

:root {
  --text-color: #000;
  --bg-color-home: #F3D7B7;
  --p-color: #333;
  --green: #0A775F;
  --collection-color: #F8F8F2;
  --choose-color: #C99B67;
  --outline-color: var(--green)
}

/* GLOBAL */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  color: var(--p-color);
  font-family: "Arial", sans-serif;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: 2px dashed var(--outline-color);
  outline-offset: 3px;
}


/* BUTTON */

.btn {
  display: inline-block;
  width: 100%;
  max-width: 193px;
  padding: 16px 24px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
}

.btn-link {
  background-color: var(--green);
}

.btn-link:hover {
  opacity: 0.8;
}

.btn-link:active {
  opacity: 0.6;
}

/* GLOBAL CLASSES */

.heading {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: var(--text-color);
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* SITE-HEADER-HERO-WRAPPER */

.site-header-hero-wrapper {
  background-color: var(--choose-color);
  background-image: url(/img/site-header-intro-bg.jpg);
}

/* SITE-HEADER */

.site-header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.site-header__logo-link {
  display: flex;
  flex-shrink: 0;
  text-decoration: none;
}

.site-header__logo-link:hover {
  opacity: 0.8;
}

.site-header__logo-link:active {
  opacity: 0.6;
}

.site-header__logo-img {
  width: 235px;
  height: 24px;
  object-fit: contain;
}

/* SITENAV */

.sitenav-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav-item:not(:last-child) {
  margin-right: 40px;
}

.sitenav-link {
  display: block;
  font-size: 12px;
  line-height: normal;
  font-weight: bold;
  color: var(--p-color);
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.sitenav-link:hover {
  color: var(--green);
}

.sitenav-link:active {
  opacity: 0.6;
}

/* HERO */

.hero-container {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.hero-info__wrapper {
  width: 100%;
  max-width: 730px;
  padding-top: 116px;
  padding-bottom: 100px;
  padding-left: 150px;
  padding-right: 116px;
}

.hero-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 64px;
  line-height: normal;
  color: var(--text-color);
}

.hero-text {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

.hero-text:not(:last-child) {
  margin-bottom: 32px;
}

.hero-img {
  width: 710px;
  height: 596px;
  object-fit: cover;
}

.hero-img-index {
  height: 696px;
}

/* MAIN-CONTENT */

.main-content {
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 50px;
}

/* COLLECTION */

.collection {
  margin-bottom: 20px;
}

.index-collection-inner {
  padding: 50px 143px;
  background-color: var(--collection-color);
  background-image: url(../img/collection-bg.jpg);
}

.collection-heading {
  margin-top: 0;
  margin-bottom: 80px;
  text-align: center;
  text-transform: uppercase;
}

.collection-list {
  padding: 0;
  margin: 0;
  list-style-type: none;

}

.collection-item {
  display: flex;
  align-items: center;
}

.collection-item:nth-child(even) {
  flex-direction: row-reverse;
}

.collection-item__img {
  flex-shrink: 0;
  width: 450px;
  height: 375px;
  object-fit: cover;
}

.collection-item__info {
  flex-grow: 1;
  padding-left: 117px;
  padding-right: 117px;
}


.collection-item__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: var(--p-color);
}

.collection-item__text {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: var(--p-color);
}

.collection-item__text:not(:last-child) {
  margin-bottom: 10px;
}

/* FEATURES */
.features {
  margin-bottom: 30px;
}

.features-inner {
  padding: 50px 30px;
  background-image: url(/img/features-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 703px ;
}

.features-heading {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.features-text {
  width: 581px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 80px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  opacity: 0.8;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -20px;
  list-style: none;
}

.features-item {
  width: calc(100% / 3 - 20px);
  margin-left: 20px;
  margin-bottom: 30px;
}

.features-item__img {
  width: 433px;
  height: 500px;
  margin-bottom: 28px;
  object-fit: cover;
}

.features-item__heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
}

.features-item__text {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}



/* RETINA-BG */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

  .site-header-hero-wrapper {
    background-image: url(../img/site-header-intro-bg@2x.jpg);
  }

  .index-collection-inner {
    background-image: url(../img/collection-bg@2x.jpg);
  }

  .features-inner {
    background-image: url(../img/features-bg@2x.jpg);
  }
}